<a href="https://colab.research.google.com/github/lazizbeksadullaev/telegram-bot/blob/main/Pandas_tutorial_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
# pd?

In [5]:
# pd.Series?

## Seires

In [6]:
arr = np.arange(10) # python list
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [7]:
ser = pd.Series(range(10)) # Series obyekti
ser

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [8]:
obj = pd.Series(["a", "b", "c"])
# pd,Series([qiymatlar_listi], [indexlar_listi]/default =[0,1,2...])
obj

0    a
1    b
2    c
dtype: object

In [9]:
ser2 = pd.Series(np.random.randn(5))
ser2

0   -0.500348
1    1.014848
2   -0.590141
3    1.738517
4    1.577595
dtype: float64

In [10]:
ser2.index

RangeIndex(start=0, stop=5, step=1)

In [11]:
ser2.values

array([-0.50034782,  1.01484845, -0.59014103,  1.73851739,  1.57759453])

## Lug'atdan Series yaratish

In [13]:
ser1 = pd.Series([5,6,7,8], index=['a','b','c','d'])

In [15]:
ser1['c'] # ser1 ning c indeksli eltiga murojaat. 
# Bu mjurojaat pythondagi dict()-lug'atlardagi murojatga o'xshash

7

In [16]:
dic = {"olma":5000, "nok":10000, "banan":17000, 3:"to'rtinchi element"}
dic

{'olma': 5000, 'nok': 10000, 'banan': 17000, 3: "to'rtinchi element"}

In [17]:
type(dic)

dict

In [18]:
obj2 = pd.Series(dic)
obj2

olma                   5000
nok                   10000
banan                 17000
3        to'rtinchi element
dtype: object

In [19]:
type(obj2)

pandas.core.series.Series

In [20]:
object3 = pd.Series({'redmi': 700, 'iphone': 1200, 'samsung': 800, 'vivo': 600})
object3

redmi       700
iphone     1200
samsung     800
vivo        600
dtype: int64

In [21]:
'iphone' in object3 # Huddi dictdek ishjlatishimiz mumkin

True

In [22]:
'nokia' in object3

False

In [ ]:
obj2.index

Index(['olma', 'nok', 'banan', 3], dtype='object')

In [ ]:
obj2.values

array([5000, 10000, 17000, "to'rtinchi element"], dtype=object)

In [ ]:
obj2["olma"]

5000

In [ ]:
obj2[["olma", "nok", "banan"]]

olma      5000
nok      10000
banan    17000
dtype: object

In [ ]:
type(obj2)

pandas.core.series.Series

## Qiymatlarni o'zgartirish

In [23]:
obj2

olma                   5000
nok                   10000
banan                 17000
3        to'rtinchi element
dtype: object

In [24]:
obj2["olma"]=4000
obj2

olma                   4000
nok                   10000
banan                 17000
3        to'rtinchi element
dtype: object

In [25]:
nb = pd.Series({'moshina':25000, 'MacBook':40000, 'Acer':20000, 'hp':25000, 'Lenovo':12000, 'Packardbell':18000})
nb

moshina        25000
MacBook        40000
Acer           20000
hp             25000
Lenovo         12000
Packardbell    18000
dtype: int64

In [27]:
nb_name=['Acer', 'asus', 'Dell', 'hp', 'Lenovo', 'MacBook', 'msi', 'Packardbell']
nb_name

['Acer', 'asus', 'Dell', 'hp', 'Lenovo', 'MacBook', 'msi', 'Packardbell']

In [28]:
nb2 = pd.Series(nb, index=nb_name)

In [29]:
nb2

Acer           20000.0
asus               NaN
Dell               NaN
hp             25000.0
Lenovo         12000.0
MacBook        40000.0
msi                NaN
Packardbell    18000.0
dtype: float64

In [30]:
nb2[nb2>20000]

hp         25000.0
MacBook    40000.0
dtype: float64

In [31]:
nb2.isnull()

Acer           False
asus            True
Dell            True
hp             False
Lenovo         False
MacBook        False
msi             True
Packardbell    False
dtype: bool

In [32]:
nb2.notnull() # nb2 ning ichida bo'sh bo'lmagan joylar bormi? 
# malumot bo'sa True aks holda False chiqaradi

Acer            True
asus           False
Dell           False
hp              True
Lenovo          True
MacBook         True
msi            False
Packardbell     True
dtype: bool

In [41]:
nb['Dell'] = 13000
nb

moshina        25000
MacBook        40000
Acer           20000
hp             25000
Lenovo         12000
Packardbell    18000
Dell           13000
dtype: int64

In [42]:
nb2

Acer           20000.0
asus               NaN
Dell               NaN
hp             25000.0
Lenovo         12000.0
MacBook        40000.0
msi                NaN
Packardbell    18000.0
dtype: float64

In [43]:
c=nb+nb2 # qo'shish amali
c

Acer           40000.0
Dell               NaN
Lenovo         24000.0
MacBook        80000.0
Packardbell    36000.0
asus               NaN
hp             50000.0
moshina            NaN
msi                NaN
dtype: float64

In [ ]:
d=nb-nb2
d

Acer           0.0
Dell           NaN
Lenovo         0.0
MacBook        0.0
Packardbell    0.0
hp             0.0
moshina        NaN
dtype: float64

In [ ]:
c-d

Acer           40000.0
Dell               NaN
Lenovo         24000.0
MacBook        80000.0
Packardbell    36000.0
hp             50000.0
moshina            NaN
dtype: float64

In [ ]:
d["Dell"]=100
d['moshina']=50

In [ ]:
d

Acer             0.0
Dell           100.0
Lenovo           0.0
MacBook          0.0
Packardbell      0.0
hp               0.0
moshina         50.0
dtype: float64

In [ ]:
c-d

Acer           40000.0
Dell               NaN
Lenovo         24000.0
MacBook        80000.0
Packardbell    36000.0
hp             50000.0
moshina            NaN
dtype: float64

In [ ]:
c['Dell']=50
c['moshina']=1
c

Acer           40000.0
Dell              50.0
Lenovo         24000.0
MacBook        80000.0
Packardbell    36000.0
hp             50000.0
moshina            1.0
dtype: float64

In [ ]:
d

Acer             0.0
Dell           100.0
Lenovo           0.0
MacBook          0.0
Packardbell      0.0
hp               0.0
moshina         50.0
dtype: float64

In [ ]:
c-d

Acer           40000.0
Dell             -50.0
Lenovo         24000.0
MacBook        80000.0
Packardbell    36000.0
hp             50000.0
moshina          -49.0
dtype: float64

In [ ]:
nb2.index.name ='Noutbooklar'

In [ ]:
nb2.name = "Noutbook narxlari"

In [ ]:
nb2

Noutbooklar
Acer           20000.0
Dell               NaN
hp             25000.0
Lenovo         12000.0
MacBook        40000.0
Packardbell    18000.0
Name: Noutbook narxlari, dtype: float64

In [ ]:
nb2.name

'Noutbook narxlari'

In [ ]:
nb2.index.name

'Noutbooklar'

In [ ]:
nb2.hasnans

True

In [ ]:
nb2.is_unique

True

In [ ]:
nb2.shape

(6,)

In [ ]:
nb2.size

6

In [ ]:
nb2.iloc[0]

20000.0

In [ ]:
nb2[-1]

18000.0

In [ ]:
nb2['Acer']

20000.0

In [ ]:
nb2.min()

12000.0

## Elementlarni tanlash

In [ ]:
obj3 = pd.Series(np.arange(8.), index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [ ]:
obj3

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [ ]:
obj3[0:3]

a    0.0
b    1.0
c    2.0
dtype: float64

In [ ]:
obj3[-1:]

h    7.0
dtype: float64

In [ ]:
obj3[:-1]

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
dtype: float64

In [ ]:
obj3[4:6]

e    4.0
f    5.0
dtype: float64

In [ ]:
obj3["a":"d"]

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [ ]:
obj3[[1,6]]

b    1.0
g    6.0
dtype: float64

In [ ]:
obj3[obj3<4]

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

## DataFrame ma'lumotlar tuzilmasi

In [ ]:
pd.DataFrame?

In [ ]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]}
df = pd.DataFrame(data)

In [ ]:
df

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

In [ ]:
df.set_index("Yil")

      Aholi soni  Temp
Yil
2021        33.9  1.54
2020        33.5  1.48
2019        32.9  1.56
2018        32.5  1.62
2017        31.9  1.65
2016        31.4  1.66
2015        30.9  1.64
2010        28.5  1.53

In [ ]:
df = pd.DataFrame(data, columns=['Yil','Temp','Aholi soni','YAIM'])
df

    Yil  Temp  Aholi soni YAIM
0  2021  1.54        33.9  NaN
1  2020  1.48        33.5  NaN
2  2019  1.56        32.9  NaN
3  2018  1.62        32.5  NaN
4  2017  1.65        31.9  NaN
5  2016  1.66        31.4  NaN
6  2015  1.64        30.9  NaN
7  2010  1.53        28.5  NaN

## Lug'atdan DataFrame yaratish

In [ ]:
mal = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}
df2 = pd.DataFrame(mal)
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [ ]:
df2.T

            2021  2020  2019  2018  2017  2016
Uzbekistan  33.9  33.5  32.9  32.5  31.9   NaN
Kazakhstan  18.9  18.7  18.5  18.3  18.1  17.8

In [ ]:
df2.index.name = "Yil"
df2

      Uzbekistan  Kazakhstan
Yil
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [ ]:
df

    Yil  Temp  Aholi soni YAIM
0  2021  1.54        33.9  NaN
1  2020  1.48        33.5  NaN
2  2019  1.56        32.9  NaN
3  2018  1.62        32.5  NaN
4  2017  1.65        31.9  NaN
5  2016  1.66        31.4  NaN
6  2015  1.64        30.9  NaN
7  2010  1.53        28.5  NaN

## Arifametik amallar

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape(3,3), columns=list('bcd'), index=['Olma','Anor','Uzum'])
df2 = pd.DataFrame(np.arange(12.).reshape(4,3), columns=list('abc'), index=['Olma','Anor','Qovun','Anjir'])

In [ ]:
df1

        b    c    d
Olma  0.0  1.0  2.0
Anor  3.0  4.0  5.0
Uzum  6.0  7.0  8.0

In [ ]:
df4=pd.read_csv("https://github.com/abdulazizdatasc/mohirdev_kursi/blob/main/Toshkent_uy_narxlari.csv?raw=true", index_col=False)

In [ ]:
df4.drop('Unnamed: 0', axis=1, inplace=True)

In [ ]:
df4.head()

,location,district,rooms,size,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57.0,4,4,52000.0
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52.0,4,5,56000.0
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42.0,4,4,37000.0
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65.0,1,4,49500.0
4,"город Ташкент, Чиланзарский район, площадь Актепа",Чиланзарский,3,70.0,3,5,55000.0

In [ ]:
df4.tail()

,location,district,rooms,size,level,max_levels,price
7482,"город Ташкент, Шайхантахурский район, Алишера ...",Шайхантахурский,1,27.5,2,4,23000.0
7483,"город Ташкент, Яшнободский район, Городок Авиа...",Яшнободский,1,38.0,5,5,24500.0
7484,"город Ташкент, Яшнободский район, 1-й проезд А...",Яшнободский,2,49.0,1,4,32000.0
7485,"город Ташкент, Шайхантахурский район, Зульфиях...",Шайхантахурский,2,64.0,3,9,40000.0
7486,"город Ташкент, Чиланзарский район, Чиланзар 6-...",Чиланзарский,1,30.0,2,4,22914.0

In [ ]:
df4.sample()

,location,district,rooms,size,level,max_levels,price
4200,"город Ташкент, Мирабадский район, Нукус",Мирабадский,2,64.0,4,4,52000.0

In [ ]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7487 entries, 0 to 7486
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    7487 non-null   object
 1   district    7487 non-null   object
 2   rooms       7487 non-null   int64
 3   size        7487 non-null   float64
 4   level       7487 non-null   int64
 5   max_levels  7487 non-null   int64
 6   price       7487 non-null   float64
dtypes: float64(2), int64(3), object(2)
memory usage: 409.6+ KB

In [ ]:
df4.describe()

             rooms         size        level   max_levels          price
count  7487.000000  7487.000000  7487.000000  7487.000000    7487.000000
mean      2.624015    73.274828     3.705490     6.051022   59030.032056
std       1.061847    35.432406     2.239817     2.615653   42929.497113
min       1.000000    20.000000     1.000000     1.000000   11500.000000
25%       2.000000    50.000000     2.000000     4.000000   35000.000000
50%       3.000000    66.000000     3.000000     5.000000   46900.000000
75%       3.000000    85.000000     5.000000     9.000000   68000.000000
max      10.000000   360.000000    19.000000    25.000000  500000.000000

In [ ]:
df4['district']

0          Юнусабадский
1         Яккасарайский
2          Чиланзарский
3          Чиланзарский
4          Чиланзарский
             ...
7482    Шайхантахурский
7483        Яшнободский
7484        Яшнободский
7485    Шайхантахурский
7486       Чиланзарский
Name: district, Length: 7487, dtype: object

In [ ]:
df4.loc['level']

KeyError: ignored

In [ ]:
df4.iloc[0:4]

,location,district,rooms,size,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57.0,4,4,52000.0
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52.0,4,5,56000.0
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42.0,4,4,37000.0
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65.0,1,4,49500.0

In [ ]:
df4.iloc[[5,6],[1]] # .iloc metodiga murojaat qilganda avval qatorlar keyin ustunlar ko'rsatilishi kerak

       district
5  Чиланзарский
6  Чиланзарский

In [ ]:
df=df4 # DataFramening df4 nomini df ga o'zgartirib oldik
df

,location,district,rooms,size,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57.0,4,4,52000.0
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52.0,4,5,56000.0
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42.0,4,4,37000.0
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65.0,1,4,49500.0
4,"город Ташкент, Чиланзарский район, площадь Актепа",Чиланзарский,3,70.0,3,5,55000.0
...,...,...,...,...,...,...,...
7482,"город Ташкент, Шайхантахурский район, Алишера ...",Шайхантахурский,1,27.5,2,4,23000.0
7483,"город Ташкент, Яшнободский район, Городок Авиа...",Яшнободский,1,38.0,5,5,24500.0
7484,"город Ташкент, Яшнободский район, 1-й проезд А...",Яшнободский,2,49.0,1,4,32000.0
7485,"город Ташкент, Шайхантахурский район, Зульфиях...",Шайхантахурский,2,64.0,3,9,40000.0
7486,"город Ташкент, Чиланзарский район, Чиланзар 6-...",Чиланзарский,1,30.0,2,4,22914.0

In [ ]:
df4

,location,district,rooms,size,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57.0,4,4,52000.0
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52.0,4,5,56000.0
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42.0,4,4,37000.0
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65.0,1,4,49500.0
4,"город Ташкент, Чиланзарский район, площадь Актепа",Чиланзарский,3,70.0,3,5,55000.0
...,...,...,...,...,...,...,...
7482,"город Ташкент, Шайхантахурский район, Алишера ...",Шайхантахурский,1,27.5,2,4,23000.0
7483,"город Ташкент, Яшнободский район, Городок Авиа...",Яшнободский,1,38.0,5,5,24500.0
7484,"город Ташкент, Яшнободский район, 1-й проезд А...",Яшнободский,2,49.0,1,4,32000.0
7485,"город Ташкент, Шайхантахурский район, Зульфиях...",Шайхантахурский,2,64.0,3,9,40000.0
7486,"город Ташкент, Чиланзарский район, Чиланзар 6-...",Чиланзарский,1,30.0,2,4,22914.0

In [ ]:
df

,location,district,rooms,size,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57.0,4,4,52000.0
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52.0,4,5,56000.0
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42.0,4,4,37000.0
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65.0,1,4,49500.0
4,"город Ташкент, Чиланзарский район, площадь Актепа",Чиланзарский,3,70.0,3,5,55000.0
...,...,...,...,...,...,...,...
7482,"город Ташкент, Шайхантахурский район, Алишера ...",Шайхантахурский,1,27.5,2,4,23000.0
7483,"город Ташкент, Яшнободский район, Городок Авиа...",Яшнободский,1,38.0,5,5,24500.0
7484,"город Ташкент, Яшнободский район, 1-й проезд А...",Яшнободский,2,49.0,1,4,32000.0
7485,"город Ташкент, Шайхантахурский район, Зульфиях...",Шайхантахурский,2,64.0,3,9,40000.0
7486,"город Ташкент, Чиланзарский район, Чиланзар 6-...",Чиланзарский,1,30.0,2,4,22914.0

In [ ]:
df[df['level']>3] # 4 qavatdan yuqorida joylashagn uylarni ko'rish. Filtr qo'lladik

,location,district,rooms,size,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57.0,4,4,52000.0
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52.0,4,5,56000.0
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42.0,4,4,37000.0
7,"город Ташкент, Яккасарайский район, Саламатина",Яккасарайский,2,32.0,5,5,20000.0
16,"город Ташкент, Чиланзарский район, Г9а",Чиланзарский,1,43.0,4,4,22500.0
...,...,...,...,...,...,...,...
7475,"город Ташкент, Мирабадский район, Фуркат",Мирабадский,1,26.0,4,5,20000.0
7478,"город Ташкент, Мирзо-Улугбекский район, Ц-1 ка...",Мирзо-Улугбекский,3,85.0,4,4,90000.0
7480,"город Ташкент, Мирабадский район, Айбека (пр-т...",Мирабадский,3,80.0,4,4,57000.0
7481,"город Ташкент, Шайхантахурский район, Ибн Сина-2",Шайхантахурский,1,32.0,4,5,25000.0
7483,"город Ташкент, Яшнободский район, Городок Авиа...",Яшнободский,1,38.0,5,5,24500.0

In [ ]:
df[(df['rooms']>3) & (df['price']<40000)] # & belgisi va deb tarjima qilinadi. Ikki va undan ortiq shartning bir vaqtda bajarilishi uchun qo'llaniladi

,location,district,rooms,size,level,max_levels,price
563,"город Ташкент, Янгихаётский район, Йулдош 16-й...",Янгихаётский,4,96.0,9,9,34500.0
765,"город Ташкент, Олмазорский район, Каракамыш-2/4",Олмазорский,4,83.0,5,5,38000.0
1642,"город Ташкент, Олмазорский район, Каракамыш кв...",Олмазорский,4,86.0,4,4,39500.0
2568,"город Ташкент, Яшнободский район, Асалобод (Сл...",Яшнободский,4,50.0,1,4,35000.0
2721,"город Ташкент, Мирзо-Улугбекский район, Карасу...",Мирзо-Улугбекский,4,86.0,9,9,38499.0
3226,"город Ташкент, Сергелийский район, Сергели-III",Сергелийский,4,96.0,5,5,38500.0
3345,"город Ташкент, Мирзо-Улугбекский район, Городо...",Мирзо-Улугбекский,4,79.0,4,4,27000.0
3972,"город Ташкент, Яшнободский район, Асалобод (Сл...",Яшнободский,4,50.0,1,4,35000.0
4817,"город Ташкент, Яшнободский район, Асалобод",Яшнободский,4,120.0,1,9,34500.0
5559,"город Ташкент, Яккасарайский район, Башлык",Яккасарайский,4,40.0,5,5,31000.0
5570,"город Ташкент, Яккасарайский район, Башлык",Яккасарайский,4,40.0,5,5,31000.0
5582,"город Ташкент, Мирзо-Улугбекский район, Городо...",Мирзо-Улугбекский,4,80.0,4,4,27500.0
6007,"город Ташкент, Яшнободский район, Оханграбо",Яшнободский,4,94.0,4,4,37000.0
6009,"город Ташкент, Яшнободский район, Оханграбо",Яшнободский,4,94.0,4,4,37000.0
6672,"город Ташкент, Янгихаётский район, Йулдош 16-й...",Янгихаётский,4,96.0,9,9,34500.0
7274,"город Ташкент, Юнусабадский район, Юнус-абад-16",Юнусабадский,4,95.0,9,9,38500.0
7446,"город Ташкент, Сергелийский район, Dostlik.2 1...",Сергелийский,4,100.0,2,9,38000.0

In [ ]:
df[df['district']=="Чиланзарский"] # Faqat Chilonzor tumanidagi uylar haqidagi ma'lumotlarni olish

,location,district,rooms,size,level,max_levels,price
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42.0,4,4,37000.0
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65.0,1,4,49500.0
4,"город Ташкент, Чиланзарский район, площадь Актепа",Чиланзарский,3,70.0,3,5,55000.0
5,"город Ташкент, Чиланзарский район, Чиланзар 6-...",Чиланзарский,1,28.0,1,4,25500.0
6,"город Ташкент, Чиланзарский район, Чиланзар-16",Чиланзарский,1,30.0,2,4,21200.0
...,...,...,...,...,...,...,...
7428,"город Ташкент, Чиланзарский район, Мукими",Чиланзарский,3,70.0,3,4,48000.0
7445,"город Ташкент, Чиланзарский район, проспект Бу...",Чиланзарский,1,20.0,5,5,18500.0
7456,"город Ташкент, Чиланзарский район, Чиланзар 1 ...",Чиланзарский,1,32.0,3,4,28000.0
7468,"город Ташкент, Чиланзарский район, Чиланзар-16",Чиланзарский,3,70.0,1,4,49800.0
7486,"город Ташкент, Чиланзарский район, Чиланзар 6-...",Чиланзарский,1,30.0,2,4,22914.0

In [ ]:
df.drop('location', axis=1) # location ustunini o'chirib yuborish. Natija saqlanmaydi. Agar df.drop('location', axis=1, inplace=True) ni qo'llasangiz saqlanadi

             district  rooms  size  level  max_levels    price
0        Юнусабадский      3  57.0      4           4  52000.0
1       Яккасарайский      2  52.0      4           5  56000.0
2        Чиланзарский      2  42.0      4           4  37000.0
3        Чиланзарский      3  65.0      1           4  49500.0
4        Чиланзарский      3  70.0      3           5  55000.0
...               ...    ...   ...    ...         ...      ...
7482  Шайхантахурский      1  27.5      2           4  23000.0
7483      Яшнободский      1  38.0      5           5  24500.0
7484      Яшнободский      2  49.0      1           4  32000.0
7485  Шайхантахурский      2  64.0      3           9  40000.0
7486     Чиланзарский      1  30.0      2           4  22914.0

[7487 rows x 6 columns]

In [ ]:
df.head() # E'tibor bering DataFramedagi location o'chib ketmagan

,location,district,rooms,size,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57.0,4,4,52000.0
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52.0,4,5,56000.0
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42.0,4,4,37000.0
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65.0,1,4,49500.0
4,"город Ташкент, Чиланзарский район, площадь Актепа",Чиланзарский,3,70.0,3,5,55000.0

In [ ]:
df.rename(columns={'location':'joylashuv'})

,joylashuv,district,rooms,size,level,max_levels,price
0,"город Ташкент, Юнусабадский район, Юнусабад 8-...",Юнусабадский,3,57.0,4,4,52000.0
1,"город Ташкент, Яккасарайский район, 1-й тупик ...",Яккасарайский,2,52.0,4,5,56000.0
2,"город Ташкент, Чиланзарский район, Чиланзар 2-...",Чиланзарский,2,42.0,4,4,37000.0
3,"город Ташкент, Чиланзарский район, Чиланзар 9-...",Чиланзарский,3,65.0,1,4,49500.0
4,"город Ташкент, Чиланзарский район, площадь Актепа",Чиланзарский,3,70.0,3,5,55000.0
...,...,...,...,...,...,...,...
7482,"город Ташкент, Шайхантахурский район, Алишера ...",Шайхантахурский,1,27.5,2,4,23000.0
7483,"город Ташкент, Яшнободский район, Городок Авиа...",Яшнободский,1,38.0,5,5,24500.0
7484,"город Ташкент, Яшнободский район, 1-й проезд А...",Яшнободский,2,49.0,1,4,32000.0
7485,"город Ташкент, Шайхантахурский район, Зульфиях...",Шайхантахурский,2,64.0,3,9,40000.0
7486,"город Ташкент, Чиланзарский район, Чиланзар 6-...",Чиланзарский,1,30.0,2,4,22914.0

In [ ]:
df.nlargest(5,'price') # 5 ta eng katta qiymatni ko'rish

,location,district,rooms,size,level,max_levels,price
3131,"город Ташкент, Мирзо-Улугбекский район, Кори Н...",Мирзо-Улугбекский,4,200.0,2,7,500000.0
737,"город Ташкент, Мирабадский район, Айбека (пр-т...",Мирабадский,5,300.0,3,8,425000.0
1858,"город Ташкент, Мирабадский район, Айбека (пр-т...",Мирабадский,5,300.0,3,8,425000.0
1983,"город Ташкент, Мирабадский район, Тараса Шевченко",Мирабадский,5,300.0,3,8,425000.0
4880,"город Ташкент, Яккасарайский район, Кушбеги",Яккасарайский,2,64.0,1,5,420000.0

In [ ]:
df.nsmallest(5,'price') # 5 ta eng kichik qiymatni ko'rish

,location,district,rooms,size,level,max_levels,price
5406,"город Ташкент, Яшнободский район, 40-",Яшнободский,1,21.0,4,9,11500.0
3828,"город Ташкент, Мирзо-Улугбекский район, Буз-2 ...",Мирзо-Улугбекский,1,20.0,3,4,12100.0
2628,"город Ташкент, Яшнободский район, Мухтара Ашрафи",Яшнободский,1,20.0,2,4,12498.0
110,"город Ташкент, Яшнободский район, Ташсельмаш",Яшнободский,1,20.0,3,3,12500.0
4592,"город Ташкент, Юнусабадский район, 4-й проезд ...",Юнусабадский,1,21.0,4,4,12500.0

In [ ]:
df=pd.read_csv("https://github.com/abdulazizdatasc/my_repository/blob/main/meteorite-landings.csv?raw=true")
df

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"
...,...,...,...,...,...,...,...,...,...,...
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990.0,29.03700,17.01850,"(29.037000, 17.018500)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999.0,13.78333,8.96667,"(13.783330, 8.966670)"
45713,Zlin,30410,Valid,H4,3.3,Found,1939.0,49.25000,17.66667,"(49.250000, 17.666670)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003.0,49.78917,41.50460,"(49.789170, 41.504600)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976.0,33.98333,-115.68333,"(33.983330, -115.683330)"